@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Icon-Wrapper {
  display: inline-block;
  line-height: 0;
}

.Icon {
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.Icon--loading {
  animation-name: rotation;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.Icon--loading path,
.Icon--loading rect {
  fill: currentColor;
}
