{
       "extends": [
         "react-app"
       ],
       "overrides": [
         {
           "files": ["**/*.js"],
           "rules": {
            "semi": ["error", "never"],
            "arrow-parens": ["error", "as-needed"],
            "comma-dangle": ["error", {
                "arrays": "always-multiline",
                "objects": "always-multiline"
            }]
           }
         }
       ]
   }
